// Specific CSS for your home-page
h1 {
  color: orange;
}
body {
  background-image: url(cocktail.jpg);
  background-size: 900px auto;
  background-repeat: no-repeat;
}

.cards {
  border-radius: solid, 10px;
}

.btn {
  border: solid 10 px;
  height: 1500px;
  text-align: top;
  margin: 0px 10px;
}

.card-body {
  color: orange;
  padding: 20px;
  margin: 20px;
}
.row row-cols-1 row-cols-md-3 {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  align-content: center;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
